*{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}		


body{
	background-color: lightcyan;
}

table,tr,td{
	text-align: left;
	border: 1px solid black;
	border-collapse: collapse;
	border-spacing: 10px 15px;
	padding: 8px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	/*width: 1200px;*/
}

tr:nth-child(even){
	background-color: lightblue;
	opacity:1;
}

thead>tr{
	text-align: center; 
	background-color: lightgray; 
	height:40px;  
	font-size: 16px;
	color: black;
	font-family: arial;
}

div#container{
	height: 80px;
	background-color: white;
	padding-top: 20px ;
	padding-bottom: 20px;
	margin-bottom: 10px;
	border: 1px solid lightblue;
	color: teal;
	font-family: arial;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	margin-top: auto;
	margin-bottom: auto;
	/*width: 1200px;*/
}

#footer{
	position: fixed;
	text-align: center;
    bottom: 0;
    width: 100%;
    height: 20px; 
    background: white ;
    opacity: 1.0;
}

#quote{
	position: relative;
	top:100px;
	margin-left: auto;
	margin-right: auto;
	font-family: fancy;
}
