*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

@font-face {
  font-family: OpenSans ;
  src: url(OpenSans-Regular.ttf);
  font-weight: bold;
}

@font-face {
  font-family: Dosis ;
  src: url('fonts/Dosis-Regular.ttf');
  font-weight: bold;
}

html, body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
	background-color: lightcyan;
	color: black;
	font-family: OpenSans, helvetica, sans-serif;
	/*overflow-x: hidden;*/
	min-width: fit-content !important;
	/*width: 100%;*/
}

#website-logo-container{
	position: relative;
	top: 0px;
	/*background-color: orange;*/
	height: 47px;
	background-color: black;
}

#website-name{
	position: absolute;
	top: 0px;
	left: 40px;
	color: lightgray;
	padding-top: 7px;
	font-size: 28px;
	font-weight: bold;
	font-family: Dosis;
}

#logo{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 50px;
	height: 50px;
}

#background-container{
	position: relative;
	top: 0px;
	background: url('bgimage.jpg');
	background-size: cover;
	background-position: center;
	height: 560px;
}

#image-title-container{
	/*background-color: lightgray;*/
	position: relative;
	top: 65px;
	margin-left: auto;
	margin-right: auto;
	/*height: 300px;*/
	width: 700px;
}


#image{
	width: 250px;
	height: 250px;
	position: absolute;
	top: 25px;
	left: 50px;
	border-radius: 50%;
}

#title{
	font-size: 40px;
	position: absolute;
	left: 350px;	
	top: 40px;
	width: 330px;
	/*background-color: orange;*/
	color: black;
}

#location{
	position: absolute;
	left: 350px;
	top: 100px;
	text-transform: uppercase;
	color: black;
}

#introtext{
	position: absolute;
	top: 160px;
	left: 350px;
	width: 330px;
	font-size: 17px;
	color: black;
	/*background-color: yellow;*/
}

#social-media-container{
	position: absolute;
	right: 15px;
	top: 5px;
	height: 60px;
	/*border: 1px solid blue;*/
}

#social-media-button{
	position: relative;
	margin-left: 5px;
	margin-right: 5px;
	font-size: 35px;
	left: 5px;
	top: 5px;
}

.button{
  border: lightgray 1px solid;
  color: lightgray;
  background: transparent;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 0%;
  width: 180px;
}

.button:hover {
  color: white;
  background-color: black;
  opacity: 0.3;
  border: white 1px solid;
}

#button-container{
	position: absolute;
	bottom: 30px;
	/*border: 1px solid white;*/
	width: 800px;
	height: 70px;
	left: 10%;
}

#button-cv{
	position: absolute;
	left: 0px;
}

#button-internship{
	position: absolute;
  	left: 300px;
}

#button-contact{
	position: absolute;
  	left: 600px;
}

footer{
	background-color: black;
	color: lightgray;
}

.cvcontent{
	margin: 10px;
	border: 2px lightblue solid;
	padding: 40px;
	font-family: sans-serif;
	/*border: 1px white solid;*/
	position: relative;
	left: 0px;
	color: black;
}

.cvcontent h2{
	margin-bottom: 20px;
	margin-top: 40px;
}

.cvcontent>table, .cvcontent>tr, .cvcontent>td{
	text-align: left;
	border: 0px;
	border-collapse: separate;
	border-spacing: 40px 15px;
	/*margin-right: auto;
	margin-left: auto;*/
}

.cvcontent td.date{
	text-align:center;
	vertical-align: top;
	border: 0px;
	border-style: none;
	border-color:lightgray;
}

a:link {
  text-decoration: underline;
  background-color: none;
  border: 0px solid blue;
  color: black;
  display: inline;
  width: 200px;
  text-align: center;
  margin-bottom: 1px;
}

a:visited {
  text-decoration: underline;
  background-color: none;
  border: 0px solid blue;
  color: brown;
  display: inline;
  width: 200px;
  text-align: center;
  margin-bottom: 1px;
}

a:hover, a:active {
  background-color: none;
  color: steelblue;
}

.spacer{
	height: 20px;
}

#CV-heading{
	/*background-color: white;*/
	background-image: url('bgimage.jpg');
	background-size: cover;
	background-position: bottom;
	height: 300px;
	color: lightgray;
	text-align: center;
	border: 0px lightblue solid;
	margin: 0px;
	padding-top: 120px;
}

.internship table, .internship tr, .internship td{
	text-align: left;
	border: 1px solid black;
	border-collapse: collapse;
	border-spacing: 10px 15px;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	margin-top: 10px;
	/*width: 1200px;*/
}

.internship tr:nth-child(even){
	background-color: lightblue;
	opacity:1;
}

.internship thead>tr{
	text-align: center; 
	background-color: lightgray; 
	height:40px;  
	font-size: 16px;
	color: black;
	font-family: arial;
}

#internship-heading{
	background-image: url('bgimage.jpg');
	background-size: cover;
	width: 100%;
	background-position: bottom;
	height: 300px;
	color: lightgray;
	text-align: center;
	border: 0px lightblue solid;
	margin: 0px;
	padding-top: 120px;

	/*position: relative;
	top: 20px;
	height: 80px;
	background-color: white;
	padding-top: 20px ;
	padding-bottom: 20px;
	margin-bottom: 10px;
	border: 2px solid lightblue;
	color: teal;
	font-family: arial;
	text-align: center;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: auto;
	margin-bottom: auto;*/
	/*width: 1200px;*/
}

#internship-footer{
	position: fixed;
	text-align: center;
    bottom: 0px ;
    width: 100%;
    height: 30px; 
    background: lightgray ;
    opacity: 1.0;
}

#back-to-top{
	float: left;
	color: steelblue;
	padding-top: 3px;
}

#last-updated{
	float: right;
	padding-top: 12px;
}

#internship-add-rsc{
	margin-left: 30px;
	margin-bottom: 40px;
	padding-left: 15px;
}